$font-dark-color: #464545;
$form-subheading-color: #929191;
$font-darker-color: #181818;
$main-section-color: #e26868;
$second-section-color: #4a3f60;
$footer-nav-color: #ffffff;
$form-color: #eeeeee;
$form-text-color: #68d4db;